#root {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  /* padding: 1rem; */
  text-align: center;
  height: 100vh;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.superhero-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}


.App{
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100vh; */
}

.sidebar{
  height: 100vh;
  width: 20%;
  background-color: rgb(65, 68, 69);
  position: sticky;
  top: 0;
  left: 0;
}

.crypto-section{
  width:80%;
  padding: 0em 1rem
}


.crypto-item{
  width: 80%;
  padding: 0em 1rem;
}

.navigation{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  list-style: none;
  
}

.navigation li{
  padding: 1em;
  font-size: large;
  font-weight: bold;
  color: white;
}

.navigation li:hover{
  color: rgb(65, 68, 69);
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.select-days{
  padding: 1em;
  font-size: larger;
}

.more{
  margin-top: 1rem;
}

.ability{
  display: block;
}

.color{
  display: flex;
  flex-direction: column;
  width: auto;
  /* height: 300px; */
}

.left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  list-style: none;
  width: auto;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: auto;
  height: auto;
  padding: 2em 1em;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
